body {
background-color: #000;
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*headings*/
.header--main {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.header--center {
    font-weight: 300;
    font-size: 42px;
    color: #fff;
}

.subheader--center {
    font-size: 21px;
    color: gray;
}

/*links*/

.link--cta {
    color: aquamarine;
    font-size: 16px;
}
/*footer*/
.footer--copyright {
    color: gray;
    font-size: 21px; 
    text-align: right;